<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @itinerary.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @itinerary.destination %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @itinerary.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @itinerary.end_date %>
</p>

<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
