<h1>All profiles</h1>

<% @profiles.each do |profile| %>
  <% if profile.avatar.file? %>
    <p><%= image_tag profile.avatar.url(:thumb) %></p>
  <% end %>
  <p><%= profile.username %></p>
  <p><%= profile.hometown %></p>
  <p><%= profile.first_name %></p>
  <p><%= profile.last_name %></p>
  <p><%= link_to 'Show', profile %></p>
<% end %>