<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @profile.hometown %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<% if current_user.id == @profile.user_id %>
<%= link_to 'Edit', edit_profile_path(@profile) %>
<% end %>
<%= link_to 'Back', profiles_path %>