<%= form_for(@road_trip) do |f| %>
  <% if @road_trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@road_trip.errors.count, "error") %> prohibited this road_trip from being saved:</h2>

      <ul>
      <% @road_trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :required => true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :required => true %>
  </div>
  <div class="field">
  <%= f.label :feature_image %>
  <%= f.file_field :feature_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
