<h1>Dashboard</h1>

<%= render 'form' %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  <% if @hash.empty? %>
  markers = handler.addMarkers([{ "lat": 21.158964, "lng": -86.845937 }])
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(12);
  <% else %>
  markers = handler.addMarkers(<%=raw @hash.to_json %>)
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  <% end %>

});
</script>



<%= link_to 'Add new post', new_post_path(:id => @road_trip.id) %>
<%= link_to 'View trip profile', road_trip_path(@road_trip.id) %>
<%= link_to 'Add new Stop', new_stop_path(:id => @road_trip.id) %>
<div>
  <% if @road_trip.stops.any? %>
    <% @road_trip.stops.order(:date).each do |stop| %>
      <%= stop.address %><br />
      <%= stop.description %><br />
      <%= stop.date %><br />
      <%= link_to 'Delete stop', stop_path(stop), method: :delete %>
      <br />
    <% end %>
  <% end %>

</div>

