<h1>Dashboard</h1>

<%= render 'form' %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<script type="text/javascript">

  var currentLocation = { "lat": 51.517340, "lng": -0.073281 };

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error);
  }
  else {
    alert('geolocation not supported');
  }

  function success(position) {
    currentLocation = { "lat": position.coords.latitude, "lng": position.coords.longitude }
    loadMap();
  }
  function error(msg) {
  }


  var loadMap = function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      <% if @hash.empty? %>
      markers = handler.addMarkers([currentLocation])
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
      <% else %>
      markers = handler.addMarkers(<%=raw @hash.to_json %>)
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      <% if @hash.length == 1 %>
      handler.getMap().setZoom(12);
      <% end %>
      <% end %>
    });
  }
  loadMap();

</script>



<%= link_to 'Add new post', new_post_path(:id => @road_trip.id) %>
<%= link_to 'View trip profile', road_trip_path(@road_trip.id) %>
<%= link_to 'Add new Stop', new_stop_path(:id => @road_trip.id) %>
<div>
  <% if @road_trip.stops.any? %>
    <% @road_trip.stops.order(:date).each do |stop| %>
      <%= stop.address %><br />
      <%= stop.description %><br />
      <%= stop.date %><br />
      <%= link_to 'Delete stop', stop_path(stop), method: :delete %>
      <br />
    <% end %>
  <% end %>

</div>

