<%= image_tag @road_trip.feature_image.url(:medium) %>
<%= image_tag @road_trip.user.profile.avatar.url(:thumb) %>
<h1><%= @road_trip.title %></h1>
<h2><%= @road_trip.user.profile.username %></h2>

<a href="#" id="editbtn">Edit</a><br />
<%= link_to 'View trip', road_trip_path(@road_trip.id) %>

<h1>Planned stops</h1>
<div>
  <% if @road_trip.stops.any? %>
    <% @road_trip.stops.order(:date).each do |stop| %>
      <%= stop.address %><br />
      <%= stop.description %><br />
      <%= stop.date %><br />
      <%= link_to 'Edit', edit_stop_path(stop) %>
      <%= link_to 'x', stop_path(stop), method: :delete %>
      <br />
    <% end %>
  <% end %>

<div class="editform">
<%= render 'form' %>
</div>

<%= render 'gmap' %>

<script>
  $('#editbtn').click(function() {
    $('.editform').toggle();
    return false;
  });

  $('.editform').toggle();

</script>

<%= link_to 'Add new post', new_post_path(:id => @road_trip.id) %>
<%= link_to 'Add new Stop', new_stop_path(:id => @road_trip.id) %>


