<h1>Dashboard</h1>

<%= render 'form' %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  var currentLocation = { "lat": 51.517340, "lng": -0.073281 };

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(success, error);
  }
  else {
    alert('geolocation not supported');
  }

  function success(position) {
    currentLocation = { "lat": position.coords.latitude, "lng": position.coords.longitude }
    loadMap();
  }
  function error(msg) {
  }


  var loadMap = function(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      <% if @hash.empty? %>
      markers = handler.addMarkers([currentLocation])
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
      <% elsif @hash.length == 1 %>
      markers = handler.addMarkers(<%=raw @hash.to_json %>)
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(12);
      <% end %>
    });
  }
  
  <% if @hash.empty? || @hash.length == 1 %>
  loadMap();
  <% else %>

    $.getJSON('/stops.json', function(data){
      console.log(data)
      drawMap(data);
    })

  function drawMap(data) {
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var directionsService = new google.maps.DirectionsService();

      var wps = [];
      var jsonStops = data;
      console.log(jsonStops + "HhHHHHHHH")
      var roadTripId = <%= @road_trip.id %>
      var stopsArray = [];
      console.log(jsonStops[0].road_trip_id + "hfejhfehfiuhshfiueshu")

      for (i=0; i < jsonStops.length; i++) {
        if (jsonStops[i].road_trip_id == roadTripId) {
          stopsArray.push(jsonStops[i])
          console.log(jsonStops[i])
        }
      }
      console.log(stopsArray + "hehehehehehheh")
      console.log(stopsArray[0].latitude)

   stopsArray = stopsArray.sort(function (a, b) {
      if (a.value > b.value) {
        return 1;
      }
      if (a.value < b.value) {
        return -1;
      }
      // a must be equal to b
      return 0;
    });

   for (i =0; i < stopsArray.length; i++){
   console.log(stopsArray[i].address + "####################")
}

    for ( i= 0; i < stopsArray.length; i++ ) {
      var subObject = {}
      subObject.location = new google.maps.LatLng(stopsArray[i].latitude, stopsArray[i].longitude);
      wps.push(subObject)
    }
    console.log(stopsArray.length)
      console.log(stopsArray[0].latitude + "$$$$")

        function calcRoute() {
         var origin      = new google.maps.LatLng(stopsArray[0].latitude, stopsArray[0].longitude);
         var destination = new google.maps.LatLng(stopsArray[stopsArray.length-1].latitude, stopsArray[stopsArray.length-1].longitude); 
         var request = {
          origin:      origin,
          destination: destination,
          waypoints: wps,
          travelMode:  google.maps.DirectionsTravelMode.DRIVING
        };
        directionsService.route(request, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          }
        });
      }
      $('#map').prop("id","directions");
      calcRoute();

      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'directions'}}, function(){
        directionsDisplay.setMap(handler.getMap());
      });

    

  }
  //  google.maps.event.addDomListener(window, "load", initialize);

    <% end %>
  </script>



<%= link_to 'Add new post', new_post_path(:id => @road_trip.id) %>
<%= link_to 'View trip profile', road_trip_path(@road_trip.id) %>
<%= link_to 'Add new Stop', new_stop_path(:id => @road_trip.id) %>
<div>
  <% if @road_trip.stops.any? %>
    <% @road_trip.stops.order(:date).each do |stop| %>
      <%= stop.address %><br />
      <%= stop.description %><br />
      <%= stop.date %><br />
      <%= link_to 'Delete stop', stop_path(stop), method: :delete %>
      <br />
    <% end %>
  <% end %>

</div>

