<div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag @road_trip.feature_image.url, class:"first-slide" %>
          <div class="container">
            <div class="carousel-caption carousel-caption1" >
              <h1><%= @road_trip.title %></h1>
              <h3><%= @road_trip.user.profile.username %></h3>
              <%= link_to image_tag(@road_trip.user.profile.avatar.url(:thumb), class:"profile_circle"), profile_path(@road_trip.user.profile) %>
            </div>
          </div>
          <% if current_user == @road_trip.user %>
            <%= button_to 'View trip', road_trip_path(@road_trip.id), class:"featured_image_button", method: :get %>
          <% end %>
        </div>
    </div>

    <div class="left_bar">
      <h3>Planned stops</h3>
      <% if @road_trip.stops.any? %>
        <% @road_trip.stops.order(:date).each do |stop| %>
          <p class="sidebar_stop_title"><%= stop.address %></p>
          <p class="sidebar_stop_body"><%= stop.description %></p>
          <p class="sidebar_stop_date"><%= stop.date.strftime('%v') %></p>
          <br />
        <% end %>
      <% end %>
    </div>
    <div class="right_bar">
    </div>

<a href="#" id="editbtn">Edit</a><br />

<div>
  <% if @road_trip.stops.any? %>
    <% @road_trip.stops.order(:date).each do |stop| %>
      <%= stop.address %><br />
      <%= stop.description %><br />
      <%= stop.date.strftime('%v') %><br />
      <%= link_to 'Modify', edit_stop_path(:id => stop.id, :road_trip_id => @road_trip.id) %>
      <%= link_to 'x', stop_path(stop), method: :delete %>
      <br />
    <% end %>
  <% end %>

<div class="editform">
<%= render 'form' %>
</div>

<%= render 'gmap' %>

<script>
  $('#editbtn').click(function() {
    $('.editform').toggle();
    return false;
  });

  $('.editform').toggle();

</script>

<%= link_to 'Add new post', new_post_path(:road_trip_id => @road_trip.id) %>
<%= link_to 'Add new stop', new_stop_path(:road_trip_id => @road_trip.id) %>
