<div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag @road_trip.feature_image.url, class:"first-slide" %>
          <div class="container">
            <div class="carousel-caption carousel-caption1" >
              <h1><%= @road_trip.title %></h1>
              <h3><%= @road_trip.user.profile.username %></h3>
              <%= link_to image_tag(@road_trip.user.profile.avatar.url(:thumb), class:"profile_circle"), profile_path(@road_trip.user.profile) %>
            </div>
          </div>
          <% if current_user == @road_trip.user %>
            <%= button_to 'Dashboard', edit_road_trip_path(@road_trip), class:"featured_image_button", method: :get %>
          <% end %>
        </div>
    </div>
      <div class="left_bar">
        <h3>Planned stops</h3>
        <% if @road_trip.stops.any? %>
          <% @road_trip.stops.order(:date).each do |stop| %>
            <p class="sidebar_stop_title"><%= stop.address %></p>
            <p class="sidebar_stop_body"><%= stop.description %></p>
            <p class="sidebar_stop_date"><%= stop.date.strftime('%v') %></p>
            <br />
          <% end %>
        <% end %>
      </div>
      <div class="right_bar">
        <% if @road_trip.description %>
        <h3>"<%= @road_trip.description.capitalize %>"</h3>
        <% end %>
        <%= render 'gmap' %>

        <% @road_trip.posts.reverse_each do |post| %>
        <div class="post">
          <% if current_user == post.road_trip.user %>
          <%= link_to 'x', post_path(post), method: :delete, class:"post_user_link" %>
          <%= link_to 'Edit', edit_post_path(:id => post.id, :road_trip_id => @road_trip.id), class:"post_user_link" %>
          <%end%>
          <span class="post_created_at"><%= distance_of_time_in_words_to_now(post.created_at)%> ago</br></span>
          <h3 class="post_title"><%= post.title %></h3></br>
          <% if post.image.file? %>
            <%= image_tag post.image.url(:medium), class:"post_image" %></br>
          <% end %>
          <%= post.body %></br><br>
          <%= link_to 'Add comment', new_comment_path(:id => post.id), class:"post_add_comment" %><br>
        </div>
          <% post.comments.reverse_each do |comment| %>
            <%= link_to comment.user.profile.username, profile_path(comment.user.profile) %>
            <%= distance_of_time_in_words_to_now(comment.created_at) %> ago<br>
            <%= comment.remark %><br>
          <% end %>
        <% end %>
      </div>
