<h1><%= @road_trip.title %></h1>

<% @road_trip.posts.reverse_each do |post| %>
  <%= post.created_at %></br>
  <%= post.title %></br>
  <% if post.image.file? %>
    <%= image_tag post.image.url(:medium) %></br>
  <% end %>
  <%= post.body %></br><br>
  <%= link_to 'Add comment', new_comment_path(:id => post.id) %><br>
  <% post.comments.reverse_each do |comment| %>
  <%= comment.created_at %><br>
  <%= comment.remark %><br>
  <% end %>
<% end %>

<% if current_user == @road_trip.user %>
<%= link_to 'Dashboard', edit_road_trip_path(@road_trip) %>
<%= link_to 'Delete road trip', road_trip_path(@road_trip), method: :delete %>
<% end %>
