<%= image_tag @road_trip.feature_image.url(:medium) %>
<%= image_tag @road_trip.user.profile.avatar.url(:thumb) %>
<h1><%= @road_trip.title %></h1>
<h2><%= @road_trip.user.profile.username %></h2>
<% if current_user == @road_trip.user %>
  <%= link_to 'Dashboard', edit_road_trip_path(@road_trip) %>
<% end %>

<h1>Planned stops</h1>
<div>
  <% if @road_trip.stops.any? %>
    <% @road_trip.stops.order(:date).each do |stop| %>
      <%= stop.address %><br />
      <%= stop.description %><br />
      <%= stop.date %><br />
      <br />
    <% end %>
  <% end %>

</div>

<% if @road_trip.description %>
<p>"<%= @road_trip.description.capitalize %>"</p>
<% end %>

<%= render 'gmap' %>

<% @road_trip.posts.reverse_each do |post| %>
  <% if current_user == post.road_trip.user %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'x', post_path(post), method: :delete %>
  <%end%>
  <%= post.created_at %></br>
  <%= post.title %></br>
  <% if post.image.file? %>
    <%= image_tag post.image.url(:medium) %></br>
  <% end %>
  <%= post.body %></br><br>
  <%= link_to 'Add comment', new_comment_path(:id => post.id) %><br>
  <% post.comments.reverse_each do |comment| %>
    <%= comment.user.profile.username %>
    <%= comment.created_at %><br>
    <%= comment.remark %><br>
  <% end %>
<% end %>
