<%= form_for(@stop) do |f| %>
  <% if @stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stop.errors.count, "error") %> prohibited this stop from being saved:</h2>

      <ul>
      <% @stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :road_trip_id, value: params[:road_trip_id] %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :required => true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :required => true %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date, :required => true, :order => [:day, :month, :year] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
