<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @stop.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @stop.date %>
</p>

<%= link_to 'Edit', edit_stop_path(@stop) %> |
<%= link_to 'Back', stops_path %>
