<!DOCTYPE html>
<html>
<head>
  <title>Roadtripper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <div class="container-fluid">
  <%= link_to image_tag("/assets/roadtripper_logo.png"), road_trips_path, class: "header_logo"  %>
  <% if user_signed_in? %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "header_button" %>
      <%= button_to "My profile", profile_path(current_user.profile.id), class: "header_button", method: :get %>
  <% else %>
    <%= button_to "Sign in", new_user_session_path, class: "header_button", method: :get %>
    <%= button_to "Sign up", new_user_registration_path, class: "header_button", method: :get %>
  <% end %>
  </div>
    <%= yield %>
  <!-- <footer>
  </footer> -->
</body>
</html>
