<h1>Dashboard</h1>

<%= render 'form' %>

<% unless @road_trip.itinerary %>
<%= link_to 'Add Itinerary', new_itinerary_path(:id => @road_trip.id) %>
<%= link_to 'Add New Post', new_post_path(:id => @road_trip.id) %>
<%= link_to 'View Trip Profile', road_trip_path(@road_trip.id) %>
<% else %>

<div>
  Origin: <%= @road_trip.itinerary.origin %><br />
  Destination: <%= @road_trip.itinerary.destination %><br />
  Start Date: <%= @road_trip.itinerary.start_date %><br />
  End Date: <%= @road_trip.itinerary.end_date %><br />
</div>
<% end %>

<%= link_to 'Back', road_trips_path %>
