<p id="notice"><%= notice %></p>

<h1>Listing Road Trips</h1>

<p>No road trips yet</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @road_trips.each do |road_trip| %>
      <tr>
        <td><%= road_trip.title %></td>
        <td><%= link_to 'Show', road_trip %></td>
        <td><%= link_to 'Edit', edit_road_trip_path(road_trip) %></td>
        <td><%= link_to 'Destroy', road_trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Road trip', new_road_trip_path %>
