<h1>Trip Profile</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @road_trip.title %>
</p>

<% @road_trip.posts.reverse_each do |post| %>
  <%= post.created_at %></br>
  <%= post.title %></br>
  <%= post.body %></br><br>
  <%= link_to 'Add Comment', new_comment_path(:id => post.id) %><br>
  <% post.comments.reverse_each do |comment| %>
  <%= comment.created_at %><br>
  <%= comment.remark %><br>
  <% end %>
<% end %>

<%= link_to 'Dashboard', edit_road_trip_path(@road_trip) %> |
<%= link_to 'Back', road_trips_path %>
